/* ==========================================================================
   LINK STYLES
   ========================================================================== */

a{
	text-decoration:none;
	color:$blue;
	@include transition(0.1s, color, linear);

	&:hover{
		color:$white;
		@include transition(0.1s, color, linear);
	}

	&:focus{
		outline:0;
	}
}
