/* ==========================================================================
   VARIABLES
   ========================================================================== */

// BASE FONT SIZE FOR EM CALCULATION
$base-font-size: 12px;

// DEBUGGING BORDERS
$target1: 1px solid red;
$target2: 1px solid green;
$target3: 1px solid blue;

// COLORS

$gray: #333333;

$gray2: #A09E9E;

$light-gray: #DDDDDD;

$white: #FFFFFF;

$black: #1A1A1A;

$blue: #1bb7ea;

$dark-blue: #1366BF;

// @open: 'Open Sans Condensed', sans-serif;

// @rokkit: 'Rokkitt', serif;
