/* ==============================================
	COLORS.SCSS
	Include all of your color variables here
============================================== */

$darkGray: #333333;
$lightGray: #F6F6F6;
$white: #FFFFFF;
$lightBlue: #1bb7ea;
$blue: #1366bf;
$darkBlue: #183152;
$black: #1a1a1a;
