/* ==============================================
	COLORS.SCSS
	Include all of your color variables here
============================================== */

$darkGray: #333333;
$lightGray: #F6F6F6;
$white: #FFFFFF;
$lightBlue: #E2F9FF;
$blue: #375d81;
$darkBlue: #183152;
$black: #000000;
