/* ==============================================
  LINKS.SCSS
  Component styles for links
============================================== */

a{
  font-family:inherit;
  font-style:inherit;
  font-size:inherit;
  text-decoration:none;
  font-weight:inherit;
  position:relative;
  color:$lightBlue;
  @include transition(color, 0.1s, linear);

  &:hover{
    color:$blue;
    @include transition(color, 0.1s, linear);
  }
}
