/* ==============================================
	SOCIAL.SCSS
	Component styles for sharing
============================================== */

#social{
	@include span(10);
	@include push(1);
	font-size:1.2em;
	line-height:1.5em;
	text-align:center;
	border:1px solid $black;
	display:block;
	padding:1em 0.5em;
	margin-top:5em;
}

@include breakpoint($medium){
	#social{
		@include span(4);
		@include push(4);
	}
}

@include breakpoint($large){
	#social{
		@include span(2);
		@include push(5);
	}
}

